form {
    justify-content: center;
    width: auto;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}


body{
    background-color: rgb(233, 190, 227);
}



#wrapper {
    display: inline;
    position: absolute;
    width: 100%;
  }